aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
duckdb==1.5.0
enum-tools==0.13.0
frozenlist==1.8.0
idna==3.11
librt==0.8.1
multidict==6.7.1
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.2.6
pandas==2.3.3
pandas-stubs==2.3.3.260113
pathspec==1.0.4
propcache==0.4.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
six==1.17.0
tomli==2.4.0
twitchAPI==4.5.0
types-pytz==2026.1.1.20260304
typing_extensions==4.15.0
tzdata==2025.3
yarl==1.23.0
